In [9]:
import pandas as pd

In [31]:
alabama = "Resources/alabama_District_all.csv"

In [32]:
alabama_df = pd.read_csv(alabama, encoding = "ANSI")

In [33]:
alabama_df.head()

,Topic,Subject,Title,District 01 Estimate,District 01 MOE,District 02 Estimate,District 02 MOE,District 03 Estimate,District 03 MOE,District 04 Estimate,District 04 MOE,District 05 Estimate,District 05 MOE,District 06 Estimate,District 06 MOE,District 07 Estimate,District 07 MOE
0,People,Sex and Age,Total population,713410,(+/- 3462 ),673776,(+/- 6626 ),710488,(+/- 4658 ),685553,(+/- 5159 ),718713,(+/- 200 ),700401,(+/- 8862 ),672406,(+/- 12110 )
1,People,Sex and Age,Male,343769,(+/- 3101 ),328474,(+/- 4155 ),346742,(+/- 2755 ),332923,(+/- 3806 ),353533,(+/- 1531 ),333957,(+/- 5675 ),320498,(+/- 7039 )
2,People,Sex and Age,Female,369641,(+/- 2814 ),345302,(+/- 4207 ),363746,(+/- 3884 ),352630,(+/- 3889 ),365180,(+/- 1531 ),366444,(+/- 5087 ),351908,(+/- 6766 )
3,People,Sex and Age,Under 5 years,43148,(+/- 805 ),40405,(+/- 1656 ),40694,(+/- 1548 ),41931,(+/- 1689 ),40818,(+/- 844 ),42110,(+/- 2049 ),39791,(+/- 2553 )
4,People,Sex and Age,5 to 9 years,42961,(+/- 3057 ),41290,(+/- 2912 ),44309,(+/- 3505 ),44765,(+/- 2961 ),41893,(+/- 2966 ),43242,(+/- 2272 ),40657,(+/- 3395 )

In [34]:
# join together columns: "Topic", "Subject", and "Title" inorder to avoid 
# previous problems with duplicate column names after transform
alabama_df['Title'] = alabama_df[alabama_df.columns[0:3]].apply(
    lambda x: '-'.join(x.dropna().astype(str).astype(str)),
    axis=1)
#answer from StactOverflow:
#https://stackoverflow.com/questions/33098383/merge-multiple-column-values-into-one-column-in-python-pandas

alabama_df.head()

,Topic,Subject,Title,District 01 Estimate,District 01 MOE,District 02 Estimate,District 02 MOE,District 03 Estimate,District 03 MOE,District 04 Estimate,District 04 MOE,District 05 Estimate,District 05 MOE,District 06 Estimate,District 06 MOE,District 07 Estimate,District 07 MOE
0,People,Sex and Age,People-Sex and Age-Total population,713410,(+/- 3462 ),673776,(+/- 6626 ),710488,(+/- 4658 ),685553,(+/- 5159 ),718713,(+/- 200 ),700401,(+/- 8862 ),672406,(+/- 12110 )
1,People,Sex and Age,People-Sex and Age-Male,343769,(+/- 3101 ),328474,(+/- 4155 ),346742,(+/- 2755 ),332923,(+/- 3806 ),353533,(+/- 1531 ),333957,(+/- 5675 ),320498,(+/- 7039 )
2,People,Sex and Age,People-Sex and Age-Female,369641,(+/- 2814 ),345302,(+/- 4207 ),363746,(+/- 3884 ),352630,(+/- 3889 ),365180,(+/- 1531 ),366444,(+/- 5087 ),351908,(+/- 6766 )
3,People,Sex and Age,People-Sex and Age-Under 5 years,43148,(+/- 805 ),40405,(+/- 1656 ),40694,(+/- 1548 ),41931,(+/- 1689 ),40818,(+/- 844 ),42110,(+/- 2049 ),39791,(+/- 2553 )
4,People,Sex and Age,People-Sex and Age-5 to 9 years,42961,(+/- 3057 ),41290,(+/- 2912 ),44309,(+/- 3505 ),44765,(+/- 2961 ),41893,(+/- 2966 ),43242,(+/- 2272 ),40657,(+/- 3395 )

In [35]:
#pull column names into list
cols = alabama_df.columns.tolist()

#establish matching criteria for column names we want
matchers = ["Title", "Estimate"]

#make list of columns including only column names that have matchers in them
#we'll use that to make a df with only the hard district data we want, without the MOE
new_cols = [s for s in cols if any(xs in s for xs in matchers)]

In [36]:
#test
print(cols)
print(new_cols)

['Topic', 'Subject', 'Title', 'District 01 Estimate', 'District 01 MOE', 'District 02 Estimate', 'District 02 MOE', 'District 03 Estimate', 'District 03 MOE', 'District 04 Estimate', 'District 04 MOE', 'District 05 Estimate', 'District 05 MOE', 'District 06 Estimate', 'District 06 MOE', 'District 07 Estimate', 'District 07 MOE']
['Title', 'District 01 Estimate', 'District 02 Estimate', 'District 03 Estimate', 'District 04 Estimate', 'District 05 Estimate', 'District 06 Estimate', 'District 07 Estimate']

In [37]:
# make new df with only 'new_cols'
alabama_df_districts = alabama_df[new_cols].copy()
#test
alabama_df_districts.head()

,Title,District 01 Estimate,District 02 Estimate,District 03 Estimate,District 04 Estimate,District 05 Estimate,District 06 Estimate,District 07 Estimate
0,People-Sex and Age-Total population,713410,673776,710488,685553,718713,700401,672406
1,People-Sex and Age-Male,343769,328474,346742,332923,353533,333957,320498
2,People-Sex and Age-Female,369641,345302,363746,352630,365180,366444,351908
3,People-Sex and Age-Under 5 years,43148,40405,40694,41931,40818,42110,39791
4,People-Sex and Age-5 to 9 years,42961,41290,44309,44765,41893,43242,40657

In [38]:
#prep for transform so rename "Title" to "state_dist" and set it as the index 
# this will also allow for SQL joins
alabama_df_districts = alabama_df_districts.rename(columns={"Title":"state_dist"})
alabama_df_districts = alabama_df_districts.set_index('state_dist')
#344 rows
alabama_df_districts

,District 01 Estimate,District 02 Estimate,District 03 Estimate,District 04 Estimate,District 05 Estimate,District 06 Estimate,District 07 Estimate
state_dist,,,,,,,
People-Sex and Age-Total population,713410,673776,710488,685553,718713,700401,672406
People-Sex and Age-Male,343769,328474,346742,332923,353533,333957,320498
People-Sex and Age-Female,369641,345302,363746,352630,365180,366444,351908
People-Sex and Age-Under 5 years,43148,40405,40694,41931,40818,42110,39791
People-Sex and Age-5 to 9 years,42961,41290,44309,44765,41893,43242,40657
People-Sex and Age-10 to 14 years,47838,44359,45329,43934,44990,50200,37959
People-Sex and Age-15 to 19 years,45100,46679,48304,46859,47159,46862,55213
People-Sex and Age-20 to 24 years,42221,44501,53844,40035,48373,41872,55495
People-Sex and Age-25 to 34 years,92237,87524,92259,80192,94633,86369,95664
People-Sex and Age-35 to 44 years,84746,85341,84923,82612,88350,93457,76577
People-Sex and Age-45 to 54 years,91780,86507,91499,88230,98046,93838,80430
People-Sex and Age-55 to 59 years,48950,49123,47088,46948,51289,45681,40733
People-Sex and Age-60 to 64 years,50517,39403,45190,46131,46405,46343,47376
People-Sex and Age-65 to 74 years,76005,63193,71574,74220,69000,64723,62198
People-Sex and Age-75 to 84 years,35856,33839,33638,37966,36240,32469,29627
People-Sex and Age-85 years and over,12051,11612,11837,11730,11517,13235,10686
People-Sex and Age-Median age (years),40,38.5,38.1,40.7,39.5,39.1,36.3
People-Sex and Age-18 years and over,550875,521813,554181,528123,562286,536024,527384
People-Sex and Age-65 years and over,123912,108644,117049,123916,116757,110427,102511
People-Race-Total population,713410,673776,710488,685553,718713,700401,672406
People-Race-One race,703163,657768,696558,670915,703044,686615,663100
People-Race-White,479792,434984,487936,594163,544610,548436,222797
People-Race-Black or African American,198799,207087,187176,49177,129234,111541,424453
People-Race-American Indian and Alaska Native,6699,2427,1287,6636,5138,1437,1557
People-Race-Asian,10717,7686,11727,3863,12993,13451,6471
People-Race-Native Hawaiian and Other Pacific Islander,79,174,49,211,563,119,386
People-Race-Some other race,7077,5410,8383,16865,10506,11631,7436
People-Race-Two or more races,10247,16008,13930,14638,15669,13786,9306
People-Hispanic or Latino and Race-Total population,713410,673776,710488,685553,718713,700401,672406
People-Hispanic or Latino and Race-Hispanic or Latino (of any race),21976,24457,20464,45965,37350,31641,20117
...,...,...,...,...,...,...,...
Business-Total Establishments-Health care and social assistance,1427,1538,1142,1548,1833,1688,1458
"Business-Total Establishments-Arts, entertainment, and recreation",198,159,94,135,173,226,161
Business-Total Establishments-Accommodation and food services,1331,1347,1186,1060,1331,1301,1262
Business-Total Establishments-Other services (except public administration),1663,1673,1402,1440,1540,1684,1614
Business-Total Establishments-Industries not classified,21,29,21,30,24,37,22
,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Source: 2016 County Business Patterns for Congressional Districts,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"1. CBP data includes the number of establishments, employment during the week of March 12, and annual payroll. CBP basic data are extracted from the Business Register (BR), a database of all known single and multi-establishment employer companies maintained and updated by the U.S. Census Bureau. Primary causes of differences between CBP employment estimates and ACS estimates: CBP does not cover the self-employed, public employment, and most agricultural employment; CBP estimates are not based on a sample survey; they represent business location as opposed to workers' residence in the district; use the week of March 12 as a reference period; and use a business source to determine industry.",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2. Industries not classified - Industry could not be determined.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"3. Statewide - CBP data includes employers without a fixed location within a state (or of unknown county location), these are included under a statewide classification. Statewide cases are withheld from the tabulation for this My Congressional District tool. This incomplete detail causes only a slight understatement of a district's total estimates. Statewide cases do not apply to at-large districts.",NaN,NaN,NaN,NaN,NaN,NaN,NaN
"4. If a sector does not appear in a district, CBP did not identify any establishments in the district.",NaN,NaN,NaN,NaN,NaN,NaN,NaN
5. Disclosure and Quality Indicator Flag Definitions:,NaN,NaN,NaN,NaN,NaN,NaN,NaN
D Withheld to avoid disclosing data for individual companies; data are included in higher level totals,NaN,NaN,NaN,NaN,NaN,NaN,NaN
G Cell value changed by less than 2 percent by the application of noise,NaN,NaN,NaN,NaN,NaN,NaN,NaN
H Cell value changed by at least 2 percent but less than 5 percent by the application of noise,NaN,NaN,NaN,NaN,NaN,NaN,NaN
J Cell value changed by 5 percent or more by the application of noise,NaN,NaN,NaN,NaN,NaN,NaN,NaN
S Cell value withheld because it did not meet publication standards,NaN,NaN,NaN,NaN,NaN,NaN,NaN
N Not available or not comparable,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X Not applicable,NaN,NaN,NaN,NaN,NaN,NaN,NaN
a 0 to 19 employees,NaN,NaN,NaN,NaN,NaN,NaN,NaN
b 20 to 99 employees,NaN,NaN,NaN,NaN,NaN,NaN,NaN
c 100 to 249 employees,NaN,NaN,NaN,NaN,NaN,NaN,NaN
e 250 to 499 employees,NaN,NaN,NaN,NaN,NaN,NaN,NaN
f 500 to 999 employees,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"g 1,000 to 2,499 employees",NaN,NaN,NaN,NaN,NaN,NaN,NaN
"h 2,500 to 4,999 employees",NaN,NaN,NaN,NaN,NaN,NaN,NaN
"i 5,000 to 9,999 employees",NaN,NaN,NaN,NaN,NaN,NaN,NaN
"j 10,000 to 24,999 employees",NaN,NaN,NaN,NaN,NaN,NaN,NaN
"l 50,000 to 99,999 employees",NaN,NaN,NaN,NaN,NaN,NaN,NaN
"m 100,000 employees or more",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
alabama_df_districts.tail(70)

,District 01 Estimate,District 02 Estimate,District 03 Estimate,District 04 Estimate,District 05 Estimate,District 06 Estimate,District 07 Estimate
state_dist,,,,,,,
Business-Paid employees for pay period including March 12-Accommodation and food services,30602,25154,23192,18657,27522,27756,25667
Business-Paid employees for pay period including March 12-Other services (except public administration),12278,10776,7920,7967,11885,14996,15559
Business-Paid employees for pay period including March 12-Industries not classified,35,68,30,44,48,46,35
"Business-Annual payroll ($1,000)-Total for all sectors",9449314,8266520,6150074,6497936,11465689,11806559,13460524
"Business-Annual payroll ($1,000)-Agriculture, forestry, fishing and hunting",42350,70566,26791,25888,7623,26097,58274
"Business-Annual payroll ($1,000)-Mining, quarrying, and oil and gas extraction",35353,10021,32435,121149,7002,93165,37506
"Business-Annual payroll ($1,000)-Utilities",137961,275562,71617,106648,9740,NaN,NaN
"Business-Annual payroll ($1,000)-Construction",755763,420838,310775,292744,506970,910596,839520
"Business-Annual payroll ($1,000)-Manufacturing",1775808,1208962,1898144,2058396,2110425,873721,2740352
"Business-Annual payroll ($1,000)-Wholesale trade",503659,501545,274174,288600,537201,873473,938314
"Business-Annual payroll ($1,000)-Retail trade",971871,873626,703213,722237,914987,1073988,733843
"Business-Annual payroll ($1,000)-Transportation and warehousing",424709,600040,254893,266216,253921,174336,657339
"Business-Annual payroll ($1,000)-Information",221649,142640,95767,106720,280369,724798,275546
"Business-Annual payroll ($1,000)-Finance and insurance",556464,468234,215659,281655,383985,1764506,1132942
"Business-Annual payroll ($1,000)-Real estate and rental and leasing",180089,97597,69697,52846,113401,232643,231424
"Business-Annual payroll ($1,000)-Professional, scientific, and technical services",748183,620888,204565,153147,3286197,816419,784983
"Business-Annual payroll ($1,000)-Management of companies and enterprises",291736,150387,25969,115945,129846,597749,330400
"Business-Annual payroll ($1,000)-Administrative and support and waste management and remediation services",476101,353271,329356,240649,370641,653317,511089
"Business-Annual payroll ($1,000)-Educational services",147262,113731,79569,35185,86066,172503,114522
"Business-Annual payroll ($1,000)-Health care and social assistance",1354120,1656829,1045938,1180745,1728435,1539136,2730605
"Business-Annual payroll ($1,000)-Arts, entertainment, and recreation",47836,64885,27030,18503,44051,103343,41085
"Business-Annual payroll ($1,000)-Accommodation and food services",486923,360347,313355,251038,394297,464888,402109
"Business-Annual payroll ($1,000)-Other services (except public administration)",290987,275554,170613,178789,299804,408435,486538
"Business-Annual payroll ($1,000)-Industries not classified",490,997,514,836,728,1090,495
Business-Total Establishments-Total for all sectors,15611,14252,11510,12538,15137,16197,13840
"Business-Total Establishments-Agriculture, forestry, fishing and hunting",135,167,135,126,37,60,154
"Business-Total Establishments-Mining, quarrying, and oil and gas extraction",38,14,17,55,12,29,35
Business-Total Establishments-Utilities,58,73,53,47,8,59,53
Business-Total Establishments-Construction,1271,1029,928,885,1059,1366,879
Business-Total Establishments-Manufacturing,551,514,549,754,632,496,613
...,...,...,...,...,...,...,...
Business-Total Establishments-Health care and social assistance,1427,1538,1142,1548,1833,1688,1458
"Business-Total Establishments-Arts, entertainment, and recreation",198,159,94,135,173,226,161
Business-Total Establishments-Accommodation and food services,1331,1347,1186,1060,1331,1301,1262
Business-Total Establishments-Other services (except public administration),1663,1673,1402,1440,1540,1684,1614
Business-Total Establishments-Industries not classified,21,29,21,30,24,37,22
,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Source: 2016 County Business Patterns for Congressional Districts,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"1. CBP data includes the number of establishments, employment during the week of March 12, and annual payroll. CBP basic data are extracted from the Business Register (BR), a database of all known single and multi-establishment employer companies maintained and updated by the U.S. Census Bureau. Primary causes of differences between CBP employment estimates and ACS estimates: CBP does not cover the self-employed, public employment, and most agricultural employment; CBP estimates are not based on a sample survey; they represent business location as opposed to workers' residence in the district; use the week of March 12 as a reference period; and use a business source to determine industry.",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2. Industries not classified - Industry could not be determined.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"3. Statewide - CBP data includes employers without a fixed location within a state (or of unknown county location), these are included under a statewide classification. Statewide cases are withheld from the tabulation for this My Congressional District tool. This incomplete detail causes only a slight understatement of a district's total estimates. Statewide cases do not apply to at-large districts.",NaN,NaN,NaN,NaN,NaN,NaN,NaN
"4. If a sector does not appear in a district, CBP did not identify any establishments in the district.",NaN,NaN,NaN,NaN,NaN,NaN,NaN
5. Disclosure and Quality Indicator Flag Definitions:,NaN,NaN,NaN,NaN,NaN,NaN,NaN
D Withheld to avoid disclosing data for individual companies; data are included in higher level totals,NaN,NaN,NaN,NaN,NaN,NaN,NaN
G Cell value changed by less than 2 percent by the application of noise,NaN,NaN,NaN,NaN,NaN,NaN,NaN
H Cell value changed by at least 2 percent but less than 5 percent by the application of noise,NaN,NaN,NaN,NaN,NaN,NaN,NaN
J Cell value changed by 5 percent or more by the application of noise,NaN,NaN,NaN,NaN,NaN,NaN,NaN
S Cell value withheld because it did not meet publication standards,NaN,NaN,NaN,NaN,NaN,NaN,NaN
N Not available or not comparable,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X Not applicable,NaN,NaN,NaN,NaN,NaN,NaN,NaN
a 0 to 19 employees,NaN,NaN,NaN,NaN,NaN,NaN,NaN
b 20 to 99 employees,NaN,NaN,NaN,NaN,NaN,NaN,NaN
c 100 to 249 employees,NaN,NaN,NaN,NaN,NaN,NaN,NaN
e 250 to 499 employees,NaN,NaN,NaN,NaN,NaN,NaN,NaN
f 500 to 999 employees,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"g 1,000 to 2,499 employees",NaN,NaN,NaN,NaN,NaN,NaN,NaN
"h 2,500 to 4,999 employees",NaN,NaN,NaN,NaN,NaN,NaN,NaN
"i 5,000 to 9,999 employees",NaN,NaN,NaN,NaN,NaN,NaN,NaN
"j 10,000 to 24,999 employees",NaN,NaN,NaN,NaN,NaN,NaN,NaN
"l 50,000 to 99,999 employees",NaN,NaN,NaN,NaN,NaN,NaN,NaN
"m 100,000 employees or more",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
# Drop NAN and get rid of comments at the bottom
alabama_df_districts.dropna(inplace=True)
# 303 rows

#there is clearly a loss of data in the business sectors area, specifically Utilities 
#not sure exactly how to handle that.

alabama_df_districts

,District 01 Estimate,District 02 Estimate,District 03 Estimate,District 04 Estimate,District 05 Estimate,District 06 Estimate,District 07 Estimate
state_dist,,,,,,,
People-Sex and Age-Total population,713410,673776,710488,685553,718713,700401,672406
People-Sex and Age-Male,343769,328474,346742,332923,353533,333957,320498
People-Sex and Age-Female,369641,345302,363746,352630,365180,366444,351908
People-Sex and Age-Under 5 years,43148,40405,40694,41931,40818,42110,39791
People-Sex and Age-5 to 9 years,42961,41290,44309,44765,41893,43242,40657
People-Sex and Age-10 to 14 years,47838,44359,45329,43934,44990,50200,37959
People-Sex and Age-15 to 19 years,45100,46679,48304,46859,47159,46862,55213
People-Sex and Age-20 to 24 years,42221,44501,53844,40035,48373,41872,55495
People-Sex and Age-25 to 34 years,92237,87524,92259,80192,94633,86369,95664
People-Sex and Age-35 to 44 years,84746,85341,84923,82612,88350,93457,76577
People-Sex and Age-45 to 54 years,91780,86507,91499,88230,98046,93838,80430
People-Sex and Age-55 to 59 years,48950,49123,47088,46948,51289,45681,40733
People-Sex and Age-60 to 64 years,50517,39403,45190,46131,46405,46343,47376
People-Sex and Age-65 to 74 years,76005,63193,71574,74220,69000,64723,62198
People-Sex and Age-75 to 84 years,35856,33839,33638,37966,36240,32469,29627
People-Sex and Age-85 years and over,12051,11612,11837,11730,11517,13235,10686
People-Sex and Age-Median age (years),40,38.5,38.1,40.7,39.5,39.1,36.3
People-Sex and Age-18 years and over,550875,521813,554181,528123,562286,536024,527384
People-Sex and Age-65 years and over,123912,108644,117049,123916,116757,110427,102511
People-Race-Total population,713410,673776,710488,685553,718713,700401,672406
People-Race-One race,703163,657768,696558,670915,703044,686615,663100
People-Race-White,479792,434984,487936,594163,544610,548436,222797
People-Race-Black or African American,198799,207087,187176,49177,129234,111541,424453
People-Race-American Indian and Alaska Native,6699,2427,1287,6636,5138,1437,1557
People-Race-Asian,10717,7686,11727,3863,12993,13451,6471
People-Race-Native Hawaiian and Other Pacific Islander,79,174,49,211,563,119,386
People-Race-Some other race,7077,5410,8383,16865,10506,11631,7436
People-Race-Two or more races,10247,16008,13930,14638,15669,13786,9306
People-Hispanic or Latino and Race-Total population,713410,673776,710488,685553,718713,700401,672406
People-Hispanic or Latino and Race-Hispanic or Latino (of any race),21976,24457,20464,45965,37350,31641,20117
...,...,...,...,...,...,...,...
"Business-Annual payroll ($1,000)-Professional, scientific, and technical services",748183,620888,204565,153147,3286197,816419,784983
"Business-Annual payroll ($1,000)-Management of companies and enterprises",291736,150387,25969,115945,129846,597749,330400
"Business-Annual payroll ($1,000)-Administrative and support and waste management and remediation services",476101,353271,329356,240649,370641,653317,511089
"Business-Annual payroll ($1,000)-Educational services",147262,113731,79569,35185,86066,172503,114522
"Business-Annual payroll ($1,000)-Health care and social assistance",1354120,1656829,1045938,1180745,1728435,1539136,2730605
"Business-Annual payroll ($1,000)-Arts, entertainment, and recreation",47836,64885,27030,18503,44051,103343,41085
"Business-Annual payroll ($1,000)-Accommodation and food services",486923,360347,313355,251038,394297,464888,402109
"Business-Annual payroll ($1,000)-Other services (except public administration)",290987,275554,170613,178789,299804,408435,486538
"Business-Annual payroll ($1,000)-Industries not classified",490,997,514,836,728,1090,495
Business-Total Establishments-Total for all sectors,15611,14252,11510,12538,15137,16197,13840
"Business-Total Establishments-Agriculture, forestry, fishing and hunting",135,167,135,126,37,60,154
"Business-Total Establishments-Mining, quarrying, and oil and gas extraction",38,14,17,55,12,29,35
Business-Total Establishments-Utilities,58,73,53,47,8,59,53
Business-Total Establishments-Construction,1271,1029,928,885,1059,1366,879
Business-Total Establishments-Manufacturing,551,514,549,754,632,496,613
Business-Total Establishments-Wholesale trade,843,686,410,596,712,1028,884
Business-Total Establishments-Retail trade,2864,2640,2290,2515,2638,2625,2519
Business-Total Establishments-Transportation and warehousing,511,443,343,495,320,331,513
Business-Total Establishments-Information,258,261,171,173,241,286,236
Business-Total Establishments-Finance and insurance,1172,1075,797,951,988,1389,822
Business-Total Establishments-Real estate and rental and leasing,846,561,462,385,700,701,559
"Business-Total Establishments-Professional, scientific, and technical services",1420,1249,853,808,1964,1750,1284
Business-Total Establishments-Management of companies and enterprises,111,85,47,76,73,156,100
Business-Total Establishments-Administrative and support and waste management and remediation services,749,578,521,401,702,830,540
Business-Total Establishments-Educational services,144,131,89,58,150,155,132
Business-Total Establishments-Health care and social assistance,1427,1538,1142,1548,1833,1688,1458
"Business-Total Establishments-Arts, entertainment, and recreation",198,159,94,135,173,226,161
Business-Total Establishments-Accommodation and food services,1331,1347,1186,1060,1331,1301,1262
Business-Total Establishments-Other services (except public administration),1663,1673,1402,1440,1540,1684,1614
Business-Total Establishments-Industries not classified,21,29,21,30,24,37,22